* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px auto 0px auto;
  text-align: center;
}

.product-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.product-image {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  text-align: center;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-title {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.product-price {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.add-to-cart-btn {
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.25s ease;
}

.add-to-cart-btn:hover {
  opacity: 0.8;
}
footer {
  width: 100%;
  margin-top: 2em;
}

/* Break Points */
@media (max-width: 720px) and (min-width: 540px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 540px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
